@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*
paleta de cores
#FFEBCD
#2F4858
#F8D893
#759AAB
#00A9A5
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
header nav{
    display: flex;
    background-color: #a5722d80;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    padding-right: 10px;
}
header nav svg{
    margin-left: 10px;
}
header nav .headerIcon{
    height: 35px;
}
header nav .bi-heart{
    height: 30px;
}
header nav .bi-search{
    height: 30px;
}


#hero .img{
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}
#hero .txt{
    font-size: 1.6em;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 27%;
    left: 10%;
}
#hero .txt #marca{
    font-family: "Playfair Display", serif;
    letter-spacing: 10px;
}
#hero .txt #shop,
#hero .txt a{
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
}
#hero .txt a{
    font-size: .7em;
}
#hero .txt #shop{
    color: #EDCFA6;
    text-shadow: 0 0 20px #ff9500;
}
#hero a{
    background-color: #fff;
    padding: 5px 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 300;
}

#featured{
    padding-top: 30px;
    height: 600px;
    background-color: #D2B996;
}
#featured h2{
    display: inline;
    font-family: "Montserrat", sans-serif;
}
#featured .setas{
    display: inline;
    position: absolute;
    right: 5%;
    cursor: pointer;
}
#featured .bi-arrow-left,
#featured .bi-arrow-right{
    height: 30px;
}
#featured #slider{
    display: flex;
}
#featured .slide{
    width: 33.33%;
}
#featured .slide img{
    height: 300px;
    width: 100%;
}