@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*
paleta de cores
#FFEBCD
#2F4858
#9BA0BC
#588157
#828C51
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
header nav{
    display: flex;
    background-color: #a5722d80;
    height: 50px;
    width: 100%;
    justify-content: left;
    align-items: center;
    position: fixed;
    z-index: 2;
}
header nav svg{
    margin-left: 15px;
}
header nav .bi-list{
    height: 35px;
}
header nav .bi-search{
    height: 30px;
}


#hero .img{
    background-image: url('../img/fone-preto.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}
#hero .txt{
    position: absolute;
    text-align: center;
    color: #fff;
    top: 35%;
    right: 10%;
}
#hero .txt span{
    font-family: "Montserrat", sans-serif;
}
#hero a{
    background-color: #fff;
    padding: 5px 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 300;
}

#featured{
    height: 600px;
    background-color: #a07d73;
}
#featured h2{
    display: inline;
    font-family: "Montserrat", sans-serif;
}
.setas{
    display: inline;
    position: absolute;
    right: 5%;
}
.bi-arrow-left,
.bi-arrow-right{
    height: 30px;
}