@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*
paleta de cores
#FFEBCD
#2F4858
#F8D893
#759AAB
#00A9A5
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
header nav{
    display: flex;
    background-color: #a5722d80;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    padding-right: 10px;
}
header nav i{
    margin: 0 10px;
    font-size: 30px;
}
header nav .headerIcon{
    height: 35px;
}
header nav .bi-heart{
    height: 30px;
}
header nav .bi-search{
    height: 30px;
}


#hero .img{
    background-image: url('../img/p/hero\(p\).jpg');
    background-position: center center;
    background-size: cover;
    height: 500px;
}
#hero .txt{
    font-size: 1.6em;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 27%;
    left: 10%;
}
#hero .txt #marca{
    font-family: "Playfair Display", serif;
    letter-spacing: 10px;
}
#hero .txt #shop,
#hero .txt a{
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
}
#hero .txt a{
    font-size: .7em;
}
#hero .txt #shop{
    color: #EDCFA6;
    text-shadow: 0 0 20px #ff9500;
}
#hero a{
    background-color: #fff;
    padding: 5px 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 300;
}

#featured{
    padding-top: 30px;
    height: 400px;
    background-color: #d2b996;
}
#featured h2{
    display: inline;
    font-family: "Montserrat", sans-serif;
}
#featured .setas{
    display: inline;
    position: absolute;
    right: 5%;
    cursor: pointer;
}
#featured .fa-arrow-left,
#featured .fa-arrow-right{
    font-size: 30px;
    margin: 0 10px;
}
#featured #slider{
    display: flex;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
}
#featured .slide{
    position: relative;
    transition: .2s;
    margin: 0 20px;
    width: 200px;
}
#featured .slide img{
    border-radius: 5px;
    height: 304px;
    width: 200px;
}

.icon{
    cursor: pointer;
}
.sideBar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 20px;
    background-color: #fff;
    height: 100%;
    width: 0;
}
.sideBar #closeMenuIcon{
    margin-left: 20px;
}
.sideBar ul{
    margin: 20px;
    list-style-type: none;
}
.sideBar2{
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: right;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 20px;
    background-color: #fff;
    height: 100%;
    width: 0;
}
.sideBar2 #closeMenuCarrinhoIcon{
    text-align: right;
    margin-right: 20px;
}
.sideBar2 ul{
    list-style: none;
    margin: 20px;
}
#carrinhoSideBar{
    background-color: #bbb;
}
#sexWear{
    height: 100%;
    width: 100%;
}
.sexWear{
    position: relative;
    height: 700px;
    width: 100%;
}
#sexWear img{
    width: 100%;
    height: 100%;
}
#sexWear span{
    opacity: 0;
    position: absolute;
    font: 500 3em "Montserrat";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #fff;
    transition: .3s;
}
.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000060;
    transition: .5;
}
#male:hover span,
#female:hover span,
#male:hover .overlay,
#female:hover .overlay{
    opacity: 1;
}
footer{
    font-family: "Playfair Display";
    background-color:#444A51;
    color: #fff;
}
footer img{
    height: 200px;
    width: 300px;
}
#footerLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footerLinks ul{
    list-style-type: none;
}
#footerLinks h2{
    margin: 0 -15px;
}
.aba{
    margin: 20px 0;
}
.aba a{
    text-decoration: none;
    color: #fff;
}